<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h1>Hello !!!!!!!</h1>
<!--<div th:switch="${gifts}">-->
    <!--    <h2 th:case="null">No users yet!</h2>-->
<!--    <div th:case="*">-->
<!--        <h2>Super Sprinter 3000</h2>-->
<!--        <table>-->
<!--            <thead>-->
<!--            <tr>-->
<!--                <th>Id</th>-->
<!--                <th>Story Title</th>-->
<!--                <th>User Story</th>-->
<!--                <th>Acceptance Criteria</th>-->
<!--                <th>Business Value</th>-->
<!--                <th>Estimation</th>-->
<!--                <th>Status</th>-->
<!--            </tr>-->
<!--            </thead>-->
<!--            <tbody>-->
<!--            <tr th:each="user : ${users}">-->
<!--                <td><a th:href="@{/story/{id}(id=${user.id})}" href="#">[[${user.id}]]</a></td>-->
<!--                <td th:text="${user.title}"></td>-->
<!--                <td th:text="${user.story}"></td>-->
<!--                <td th:text="${user.acceptanceCriteria}"></td>-->
<!--                <td th:text="${user.businessValue}"></td>-->
<!--                <td th:text="${user.estimationHours}"></td>-->
<!--                <td th:text="${user.status}"></td>-->
<!--            </tr>-->
<!--            </tbody>-->
<!--        </table>-->
<!--    </div>-->
</div>
</body>
</html>